html,
body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}
* {
    box-sizing: border-box;
}
canvas {
    background: #e1e1e1a8;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

img {
    display: none;
}

.topUI,
.bottomUI {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 110px;
    background: white;
    align-items: center;
    text-align: center;
    padding: 15px;

    .times {
        display: flex;
        flex-direction: row;
        text-align: center;
        .time {
            margin: 0 8px;
            span {
                font-weight: bold;
            }
        }
    }
    .feedback {
        margin: 0;
        font-size: 20px;
    }
}
.bottomUI {
    bottom: 0;
    justify-content: center;
}
