html,
body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}
* {
    box-sizing: border-box;
}
canvas {
    background: #e1e1e1a8;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

img {
    display: none;
}

.actions,
.messages {
    position: fixed;
    z-index: 2;
    width: 100%;
    // height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.messages {
    bottom: 0;
    flex-direction: column;
    .times{
        display: flex;
        flex-direction: row;
        text-align: center;
        .time{
            margin: 0 8px;
            span{
                font-weight: bold;
            }
        }
    }
}